<%- include ('header.ejs'); -%>
<%- include ('sidebar.ejs'); -%>

<body>
<div class="container">
<h2><%= title %></h2>
<a href="/add" class="btn btn-sm btn-primary">Add User</a><br/><br/>
<table class="table table-dark table-striped">
<thead>
<tr>
<th>Code</th>
<th>Name</th>
<th>Email</th>

</tr>
</thead>
<tbody>
<% clients.forEach(function(client){ %>
<tr>
<td><%= client.code %></td>
<td><%= client.nomCl %></td>
<td><%= client.email %></td>


<td>
<a href="edit/<%= client.code %>" class="btn btn-sm btn-primary">Edit</a>
<a href="delete/<%= client.code %>" class="btn btn-sm btn-danger">Delete</a>
</td>
</tr>
<% }); %>
</tbody>
</table>
</div>
</body>
</html>
